@import '/src/styles/variables.scss';

.List {

  .List-items {
    background: $color_bg_view;
    border-radius: $radius;
    border: $border;
    
    & > * {
      border-bottom: $border;
    }

    & > *:last-child {
      border-bottom: none;
    }
  }

  h2 {
    margin:  2em 0 .75em;

  }

}
