$radius: 8px;
$border: solid 1px #ddd;
//$box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 2px 0 0 rgb(255 255 255 / 70%) inset;
$box-shadow: 0 2px 1rem rgba(0, 0, 0, .2);
$color: #222;
$color_accent: blue;
$color_bg: #f2f2f2;
$color_bg_view: #fff;
$color_bg_button: #ddd;
$max_width: 500px;