@import '/src/styles/variables.scss';

.App {


  header {
    background: $color_bg_view;
    border-bottom: $border;
    width: 100%;

    nav {
      display: flex;
      align-items: center;    
      // justify-content: center;
      padding: 0 1em;
    }

    h1 {
      flex: 1;
      text-align: center;
    }

  }

  .clamp {
    max-width: $max_width;
    margin: auto;
  }

  .FileUpload {
    width: 100%
  }

  .Icon {
    cursor: pointer;
  }


  .menu {
    position: relative
  }
  .menu-popover {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: $color_bg_view;
    border: $border;
    border-radius: $radius;
    padding: .5rem;
    white-space: nowrap;
    right: -.5em;
    top: 2.5em;
    display: none;
  }
  .menu--open .menu-popover {
    display: block;
  }

  .menu-popover > * {
    padding: .25rem;
    text-decoration: none;
    color: inherit;
    flex: 1;
  }
  
  .menu-popover > *:hover {
    background: rgba(0,0,0,.075);
    border-radius: calc($radius / 2);
  }
  

}


